body {
    margin: 100px auto;
    max-width: 950px;
    padding: 1em;
}

div {
    margin: 2em 0;
}

h1 {
    color: var(--desire);
    font-size: 36px;
}

.information {
    display: block;

    font-family: "Poppins";
    color: var(--text);
    opacity: 0.6;
}

p {
    font-family: "Poppins";
    color: var(--text);
}

a {
    display: block;

    text-decoration: none;
    color: var(--desire);
}

@media screen and (max-width: 1000px) {
    h1, .information, body a {
        text-align: center;
    }    
}