body {
  padding: 1em;
  max-width: 950px;
  margin: 100px auto;
}

div {
  margin: 2em 0;
}

h1 {
  font-size: 36px;
  color: var(--desire);
}

h2 {
  font-size: 26px;
  font-family: "Jost";
  color: var(--desire);
}

.information {
  display: block;
  opacity: 0.6;
  color: var(--text);
  font-family: "Poppins";
  background-color: transparent;
}

p {
  font-size: 16px;
  color: var(--text);
  font-family: "Poppins";
}

a {
  display: block;
  color: var(--desire);
  text-decoration: none;
}

p a {
  display: inline;
}

@media screen and (max-width: 1000px) {
  h1, .information, body a {
    text-align: center;
  }
}