.principle img, .principle p {
  padding: 1em;
  text-align: center;
  background-color: transparent;
}

.principle img {
  width: 50px;
  margin-top: 10px;
}

.principle {
  display: flex;

  margin: 1em;
  width: 30%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #C61535;
}

.principle-wrapper {
  display: flex;

  flex-wrap: wrap;
}

.image-wrapper {
  display: flex;

  justify-content: space-between;
  gap: 1.5em;
}

